/** @format */

@import "_var";
@import "_mixin";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.btn {
  @include btn;
}

h2 {
  font-weight: 300;
  font-size: 38px;
  padding-bottom: 20px;
  color: $main;
}

p {
  font-size: 16px;
  line-height: 26px;
  padding: 15px 0;
  color: $black;
}

.navbar {
  background-color: $main;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: sticky;
  top: 0;
  left: 0;

  @include tablet() {
    position: relative;
    position: sticky;
    top: 0;
    left: 0;
  }

  .navbar-logo {
    color: $white;
    justify-self: start;
    cursor: pointer;

    @include tablet() {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(10%, 20%);
    }

    .logo {
      text-transform: uppercase;
      color: $white;
      font-size: 30px;
      font-weight: 600;
      transition: all 0.2s ease-in-out;
      padding: 2px 0;

      @include tablet() {
        font-size: 24px;
        padding: 14px 0;
      }

      &:hover {
        text-shadow: -2px 0px 0px $alt;
        // transform: translate(5px, 0px);
      }
    }

    p {
      text-transform: uppercase;
      font-size: 10px;
      color: $white;
      padding: 0px; // Prevent the natural padding on <p> line:24

      @include tablet() {
        display: none;
      }
    }
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 20px;
    width: 70vw;
    list-style: none;
    text-align: center;
    justify-content: end;

    @include tablet() {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      gap: 0;
      padding-top: 80px;
      top: 0;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
  }

  .nav-menu.active {
    @include tablet() {
      background-color: $main;
      left: 0;
      opacity: 1;
      transition: all 0.5 ease;
      z-index: 1;
    }
  }

  li {
    display: flex;
    align-items: center;
  }

  .nav-link {
    color: $white;
    font-weight: 400;
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.2s ease-in-out;

    @include tablet() {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;

      &:hover {
        background-color: darken($color: $main, $amount: 2);
        color: $white !important;
      }
    }

    &:hover {
      color: $alt;
    }
  }

  .nav-icon {
    font-size: 22px;
  }

  .menu-icon {
    display: none;

    @include tablet() {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 150%);
      cursor: pointer;
      z-index: 2;
    }
  }
  .fa-plus {
    color: $white;
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out;
    font-size: 20px;
  }
  .rotate {
    transform: rotate(45deg);
    transition: all 0.5s ease-in-out;
    // color: $alt !important;

    &:hover {
      transform: rotate(135deg);
    }
  }
}

.hero {
  background-color: $main;
  height: 70vh;

  @include tablet() {
    height: 50vh;
  }

  .container {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 0 auto;
    color: $white;
  }

  h2 {
    font-size: 25px;
    padding: 0;
    color: $white;

    @include tablet() {
      font-size: 22px;
    }
  }

  h1 {
    font-weight: 300;
    font-size: 60px;

    @include tablet() {
      font-size: 42px;
    }
  }
}

.about-me {
  background-color: $white;

  .container {
    width: 80vw;
    margin: 0 auto;
    padding: 40px 0;

    .wrapper {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 2fr;

      @include tablet() {
        display: grid;
        grid-template-columns: 1fr;
      }

      img {
        width: 100%;
        box-shadow: -5px 5px 0px 0px $alt;
        transition: all 0.5s ease-in-out;

        @include tablet() {
          width: 75%;
        }

        &:hover {
          box-shadow: -15px 15px 0px 0px $alt;
        }
      }
    }
  }
}
